@import (css, inline) 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import (css, inline) 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css';
@import (css, inline) 'node_modules/selectize-bootstrap4-theme/dist/css/selectize.bootstrap4.css';
@import (css, inline) "node_modules/flatpickr/dist/flatpickr.min.css";


.has-error {
    .help-block {
        color: red;
    }
    .form-control {
        border-color: red;
    }
}

